.article.single
  / .slider{style: "background-image: url(#{asset_path('about2.jpg')})"}
  /   .img-slide.transparent.col-sm-4{style: "background-image: url(#{asset_path('about1.jpg')})"}
  /   .img-slide.transparent.col-sm-4{style: "background-image: url(#{asset_path('about2.jpg')})"}
  /   .img-slide.transparent.col-sm-4{style: "background-image: url(#{asset_path('about3.jpg')})"}
  .article-text.lato.small
    = @about_us.text.html_safe
:javascript
  $( document ).ready(function() {
    $('.img-slide').hover(function() {
      imgSlide = this;
      if($('.slider')[0].style.backgroundImage != imgSlide.style.backgroundImage) {
        $('.slider')[0].style.backgroundImage = imgSlide.style.backgroundImage;
      }
    });
  });
