.map
  %iframe#first{frameborder: '0', height: '100%', src: "https://www.google.com/maps/embed/v1/directions?origin=Alekseevskaya,+Moskva,+129626&destination=1-Y+Rizhskiy+Pereulok,+2+строение+9,+Moskva,+129626&key=AIzaSyBByhRrs6xP_4XXYhJjNfZs1lOFfI8S6uM&language=ru", width: '100%'}
.container.lato.contacts.clearfix.text-center.co
  .row
    .col-sm-12.col-md-6
      %h3.bold Наши Контакты
      %p
        +7 (925) 376-93-46 <br>
        vasily@13pm.store
    .col-sm-12.col-md-6
      %h3.bold Наш Адрес
      %p
        1-й рижский переулок д.2 стр 9 офис №11
