.slider.d-none.d-md-block
  .with_overlay.flex-column-center
    .flex-column-center
      %h1.mirta.white.text-center.center-block= @slider.text
      = link_to 'каталог', items_path, class: 'hollow-button center-block white big'
.container
  .you-might-like.mirta-header.text-center
    %h1 Популярные товары
    .row
      = render collection: @related_items, partial: '/shared/items/grid_item', as: :item
.home-catalog-wrapper
  .you-might-like.mirta.text-center
    %h1 Каталог
  .container.clearfix
    .row.mb-50
      - @categories.each do |category|
        .col-sm-12.col-md-3.text-center
          = link_to items_path(of_kind: category.name) do
            .catalog-type.pointer{ style: "background-image: url(#{category.image.url})" }
              .with_overlay.display_table
                .catalog-name.lato.product-type-title.white.center-table-cell.bold= category.name
    .flex-column-center
      = link_to 'показать все', items_path, class: 'hollow-button center-block'

.container.portyanka
  %p
    В онлайн магазине обуви и аксессуаров 13РМ вы найдете широкий ассортимент стильных, практичных, эксклюзивных дизайнерских товаров на любой вкус!
  %p
    Необычная, модная, притягивающая внимание дизайнерская обувь, шикарные рюкзаки и сумки из натуральной кожи ручной работы позволят любому человеку подобрать модели для создания уникального образа, сохранять интригу, подчеркивать собственную индивидуальность.
  %p
    В 13РМ прекрасно понимают, насколько сложно сейчас  найти вещи, способные покорить душу, — идеальные во всех отношениях. В нашем каталоге представлен большой спектр обуви, сумок и других аксессуаров, которые выпускаются в строго ограниченном количестве. Если вы ищете модные хайтопы, белые кроссы или кеды из кожи, то зашли в правильное место!
  %p
    Обувь и сумки из натуральной кожи в ассортименте
  %p
    Хорошая, качественная обувь, восхитительные сумки из кожи — вещи, которые должны присутствовать в гардеробе каждого. Мы тщательно отбираем продукцию для нашего магазина, предлагая клиентам товары, которые будто созданы исключительно для них!
  %p
    Планировали купить женские кеды или разыскиваете модели современной, модной обуви, аналогам которых нет в масс-маркете? Загляните в каталог нашей продукции! Дизайнерские изделия имеют свой уникальный стиль. Они не похожи ни на что, но при этом притягивают взгляд, отлично вписываются в понятие современной моды.
  %p
    Несомненное достоинство нашей продукции состоит еще и в том, что вещи, которые мы продаем, очень удобны и практичны. Они не просто красивы, но и не создают дискомфорт в процессе ношения. Не случайно наши покупатели «прикипают» к выбранной обуви и сумкам, готовы носить их чуть ли не ежедневно!
  %p
    Купите кеды, хайтопы, рюкзак или сумку в нашем магазине — насладитесь чувством свободы, индивидуальности, эстетики и шика!
  %p
    Почему вам стоит купить кожаный рюкзак и другие товары здесь и сейчас?
    <br>
    <br>
    1. Все представленные в нашем магазине дизайнерские товары изготовлены из разных типов натуральной кожи. Продукцию отличает высокая прочность. Даже в результате длительного ношения такие товары не потеряют свой внешний вид!
    <br>
    2. Ассортимент в каталоге — это всегда идеально подобранный стиль, привлекательность и уникальность в сочетании со строгим следованием за тенденциями моды.
    <br>
    3. Предоставим большой выбор форм, цветов, моделей, размеров. Обувь у нас найдет каждый!
    <br>
    4. Обеспечим оперативную доставку заказов. Осуществляем возврат и обмен в случае необходимости в соответствии с требованиями закона о защите потребительских прав.

  .flex-column-center
    = link_to 'Перейти в каталог', items_path, class: 'hollow-button center-block'
