.user-registration
  = form_tag sessions_path do |f|
    = label_tag :email, 'E-mail'
    = text_field_tag :email
    = label_tag :password, 'Пароль'
    = password_field_tag :password
    = submit_tag 'Submit'
