.clearfix
  .col-sm-2
  .col-sm-8
    = form_for(@article) do |f|
      .form-group
        = f.label 'Главная картинка'
        = f.file_field :image
      .form-group
        = f.text_field :title, placeholder: "Название поста", class: 'form-control text-center'
      .form-group
        = f.text_field :description, placeholder: "Очень краткое описание", class: 'form-control text-center'
      .form-group
        = f.text_field :meta_description, placeholder: "Мета описание", class: 'form-control text-center'
      .form-group
        = f.text_area :text, id: 'text', rows: 20, class: 'form-control'
      .form-group
        = f.label 'Остальные картинки'
        = f.file_field :images, multiple: true
      = f.submit "Post", class: "btn-primary"
  .col-sm-2
