.container
  .articles.clearfix.row
    - @articles.each_with_index do |article, index|
      - if index.zero?
        = link_to article, class: 'col-lg-8 col-md-6 col-12 mb-5' do
          .article-image.mb-40{style: "background-image: url('#{asset_path article.image.url}')"}
            .hover-overlay
          %h3.mirta= article.title
          %p.lato= article.description
      - else
        = link_to article, class: 'col-lg-4 col-md-6 col-12 mb-5' do
          .article-image.mb-40{style: "background-image: url('#{asset_path article.image.url}')"}
            .hover-overlay
          %h3.mirta= article.title
          %p.lato= article.description
