- page_title(@article.title, add_extra: false)
- meta_description(@article.meta_description)

.slider{style: "background-image: url('#{asset_path @article.image.url}')"}
  .with_overlay.darker.display_table
    .center-table-cell
      %h1.mirta.white.text-center.center-block= @article.title
      %h2.white.text-center.center-block.lato= @article.description
.article.single
  .article-text.clearfix
    %p.mb-40= raw @article.text
    - @article.images.each do |image|
      = image_tag image, class: 'col-sm-12 mb-40'
