%table.table
  %thead
    %th Время отправки
    %th Место отправки
    %th Контакты
  %tbody
    -@requests.each do |r|
      %tr
        %td= "#{time_ago_in_words(r.created_at)} ago"
        %td= r.contact || '-'
        %td= r.request || '-'
