.article.request.new
  = form_for(@request) do |f|
    = f.text_field :email, placeholder: 'Ваша почта*'
    = f.text_field :number, placeholder: 'Ваш номер телефона'
    = f.text_area :request, placeholder: 'Заявка'
    = f.submit 'Оставить Заявку', class: 'btn-primary'
  .note
    %h3 Доставка и Оплата
    %p
      Товар выбранный на сайте можно оплатить  по счёту (для физических и юридических лиц) или  онлайн с банковской карты Visa или MasterCard.
      После поступления денег на наш счёт мы доставим  товар до транспортного или почтового терминала.
    %p
      Мы осуществляем доставку грузов по всей России и странам СНГ
      транспортными компаниями,почтовыми и курьерскими службами.
    %p
      Покупатель оплачивает стоимость доставки,при получении товара
      \ .Рассчитать примерную стоимость доставки можно самостоятельно,
      на сайте любой транспортной компании.
