.error.clearfix
  %h1 Такой страницы не существует
  %p
    К сожалению, запрашиваемая Вами страница не найдена на сайте нашей компании.
    Мы приносим свои извинения за доставленные неудобства и предлагаем следующие пути:
    <br>
    <br>
    » перейти на <a href="https://13pm.store/">главную страницу</a>
    <br>
    » связаться с нами по телефону <a href="tel:+79253769346">+7 (925) 376-93-46</a>
    <br>
    » написать письмо (<a href="mailto:vasily@13pm.store">vasily@13pm.store</a>) нашим сотрудникам


:javascript
  $('.bg-image').addClass('darker-bg-image')
