- page_title(item_title)
.menu
  .container
    %ul.justify-content-center.row.text-uppercase.lato.center-block.text-center
      %li
        = link_to 'Все', items_path, class: ('active' if params[:of_kind].blank?)
      - leather_options.each do |kind, _|
        %li
          = link_to kind, items_path(of_kind: kind), class: ('active' if params[:of_kind] == kind)
.container
  .all-items.clearfix
    .row
      - @items.each_slice(3) do |groups|
        = render collection: groups, partial: '/shared/items/grid_item', as: :item
