.clearfix
  .col-sm-3
  .col-sm-6
    = form_for @item do |f|
      .form-group
        = f.text_field :title, class: 'form-control', placeholder: 'Название'
      .form-group
        .input-group
          = f.text_field :price, class: 'form-control', placeholder: 'Цена'
          .input-group-addon ₽
      .form-group
        = f.text_area :description, class: 'form-control', placeholder: 'Описание'
      .form-group
        = f.label :title, 'Зафичирить'
        = f.check_box :featured
      .form-group
        = f.label :title, 'Тип'
        = f.select :kind, leather_options, class: 'form-control'
      .form-group
        = f.file_field :images, multiple: true
      = f.submit "Post"
  .col-sm-3
