- page_title(@item.title)

.product.container
  .row
    .col-md-6.col-12
      .img-responsive.background-image
        = image_tag @item.images.first.medium.url, class: 'img-fluid', id: 'main-production-image'
        - if @item.images.count > 1
          .row.select-image-block
            - @item.images.each do |image|
              .col-2
                .product-image-block{:style => "background-image: url(#{image.small.url})"}

    .col-md-6.col-12
      .product-type-tag= @item.kind
      %h1.product-title= @item.title
      - if @item.price.present? && @item.price.to_i > 0
        - if @item.discount.zero?
          .price-tag.big= number_to_currency @item.price, delimiter: ' ', unit: "₽", format: "%n %u", precision: 0
        - else
          .price-tag.big
            = number_to_currency @item.price_with_discount, delimiter: ' ', unit: "₽", format: "%n %u", precision: 0
            .line-through.d-inline.grey= number_to_currency @item.price, delimiter: ' ', unit: "₽", format: "%n %u", precision: 0

      - if @item.sizes.present?
        .sizes
          %p Размеры:
          - @item.sizes.split(', ').each do |size|
            .size= size
      .clearfix
        .hollow-button.product#leave-request.bold Оставить заявку
        = form_for @request, remote: true, html: { id: 'request-form', class: 'row' }, url: requests_url do |f|
          = f.text_field :contact, placeholder: 'Ваш телефон или почта', class: 'request lato text-uppercase col-sm-8'
          = f.hidden_field :request, value: "Запрос был сделан со страницы: #{item_url(@item)}"
          = f.submit 'Отправить', class: 'hollow-button col-sm-4 bold'
      %p= @item.description

.you-might-like.mirta-header.text-center
  %h1 Вам может понравиться
  .row
    = render collection: @related_items, partial: '/shared/items/grid_item', as: :item
