.col-lg-4.col-md-6.col-sm-12.text-center.grid-item
  = link_to item do
    .pointer
      = image_tag item.images.first.medium.url, class: 'img-fluid'
      .hover-overlay
  .product-type-tag= item.kind
  = link_to item do
    .product-type-title= item.title
    - if item.price.present? && item.price.to_i > 0
      - if item.discount.zero?
        .price-tag= number_to_currency item.price, delimeter: '.', unit: "₽", format: "%n %u"
      - else
        .price-tag
          = number_to_currency item.price_with_discount, delimiter: ' ', unit: "₽", format: "%n %u", precision: 0
          .line-through.d-inline.grey= number_to_currency item.price, delimiter: ' ', unit: "₽", format: "%n %u", precision: 0
