/// APPLICATION.CSSS
@import 'variables';
@import 'helper_classes';

body {
	overflow-x: hidden;
}

.site__header {
	@extend .lato;
	border-bottom: 1px solid $border-grey;

	ul {
		text-align: center;

		li {
      text-transform: uppercase;
      min-height: 75px;

      a {
				color: $black;
      }
		}
	}

	.logo {
		padding-top: 1rem;
	}
}

.nav__link-element {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main, .wrapper, .seo-content {
	margin: auto;
	margin-top: 25px;
	margin-bottom: 60px;
}

.col-sm-3, .col-sm-4 {
  padding-left: 10px;
  padding-right: 10px;
}

ul {
	list-style: none;
	padding: 0;
}

p {
  font-size: 1.4em;
  line-height: 165%;
}

.pointer {
	cursor: pointer;
}

.flex-column-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hollow-button {
	@extend .lato, .normal, .pointer;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid $black;
	color: $black;
	max-width: 190px;
	padding: 10px 25px;
	transition: .2s;
	background: none;
  &:hover {
  	background-color: $black;
		color: white;
  }

	&.white {
		border-color: white;
		color: white;
		&:hover {
			background-color: white;
			color: $black;
		}
	}
	&.big {
		font-size: 22px;
		border-width: 3px;
	}


	.product {
		width: 100%;
	}
}
.product {
	max-width: 1000px;
	margin: auto;
	p {
		@extend .lato;
		font-size: 14px;
		line-height: 200%;
		letter-spacing: 1pt;
	}
}

a {
	color: $black;
	text-decoration: none;

	&:visited, &:hover {
		color: $black;
		text-decoration: none !important;
	}
}
.without-margin {
	margin: 0;
}
.center-block {
	margin: 0 auto;
}
.text-center, .text-center {
	text-align: center;
}

.img-responsive{
	margin: 0 auto;
}

.price-tag {
	@extend .mirta;
		font-size: 18px;
	&.big {
		font-size: 30px;
	}
}

.display_table {
	display: table;
}

.center-table-cell {
	display: table-cell;
	vertical-align: middle;
}

.product-type-tag {
	text-transform: uppercase;
	letter-spacing: 0.75pt;
}

.product-type-tag {
	@extend .lato, .light;
	font-size: 11px;
}

.product-type-title {
	@extend .lato;
	font-size: 18px;
	line-height: 120%;
	margin-top: 15px;
	margin-bottom: 15px;
	text-transform: uppercase;
	letter-spacing: 0.75pt;
}

.buy-btn {
	text-align: center;
	padding: 8px;
	border: 2px solid #333;
	text-transform: uppercase;
	width: 100%;
	max-width: 390px;
	cursor: pointer;
	margin: 25px 0;
	font-size: 18px;

	&:hover{
		color: white;
		background-color: #333;
	}
}

.mirta-header {
	@extend .mirta;
	margin-top: 130px;
	font-size: 48px;
}

.collection-header {
	font-size: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-40 {
	margin-bottom: 40px;
}


.fixed {
	position: fixed;
}

hr{
	width: 100%;
}

.product-types{
	width: 100%;
	margin: 40px 0 20px 0;
	border-bottom: 1px solid #d9d7d6;
	padding-bottom: 28px;

	.outer-product-wrapper {
		max-width: 1000px;
	}

	.product-wrapper {
		margin: auto;
		width: 100%;
		display: table;
		table-layout: fixed;
	}

	li{
		display: table-cell;
		width: auto;
		//padding: 40px 0;
		text-transform: uppercase;
		font-size: 14px;
	}
	a {
		color: #969696;
		&:hover {
			color: #333;
		}
	}

	.current {
		a {
			color: #333;
			border-bottom: 2px solid #333;
			padding-bottom: 50px;
		}

	}
}


.email-container {
	max-width: 570px;
	width: 100%;
	font-size: 30px;
	letter-spacing: 0.5pt;
	.submit {
		vertical-align: top;
		display: inline-block;
		padding-top: 5px;
		border: 2px solid #666;
		margin: 0;
		width: 40px;
		height: 40px;
		font-size: 18px;
		margin-left: -10px;
	}
	.email {
		letter-spacing: 1pt;
		vertical-align: top;
		margin: 0;
		display: inline-block;
		height: 40px;
		width: 280px;
		font-size: 18px;
		padding: 5px 0 0 10px;
		border: 2px solid #d9d7d6;
		border-right: 0px;
		outline: 0;
		&:focus {
			border-color: #666;
		}
	}
}

.select-image-block {
  padding-top: 20px;
  .col-sm-2 {
    padding: 0 10px;
  }
  &.row {
    margin-right: -10px;
    margin-left: -10px;
  }
  .product-image-block {
    cursor: pointer;
    display: inline-block;
    width: 55px;
    height: 55px;
    background-size: 100px 100px;
    background-position: center;
    opacity: 0.5;
    transition: 0.2s;
    &.active {
      opacity: 1;
    }
  }
}

.collection-image {
	transition: 0.2s;
	position: relative;
	width: 100%;
	height: 220px;
	background-position: center;
	background-size: cover;

	.with_overlay {
		transition: 0.2s;
		background-color: rgba(black, 0.4);
		width: 100%;
		height: 220px;

		&:hover {
			background-color: rgba(black, 0.2);
		}
	}
}

header.header {
	padding-top: 15px;

	img {
		max-height: 150px;
		image-rendering: -moz-crisp-edges;         /* Firefox */
		 image-rendering:   -o-crisp-edges;         /* Opera */
		 image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
		 image-rendering: crisp-edges;
		 -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
	}
}

.logo-block {
	float: none;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

.navigation-block {
	float: left;
}

.search-cart-block-wrapper, .search-cart-block {
	float: right;
}

.navigation-block, .search-cart-block {
	display: table;
	height: 150px;
	a {
		display: table-cell;
		vertical-align: middle
	}
}

.collection-name {
	position: relative;
	top: 100px;

	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
	color: white;

	width: 100%;
	float: left;
}

.footer-linklist {
	margin: 0 -25px;
	li {
		display: inline-block;
		padding: 0 25px;
	}
}

.site-nav__link--icon .icon {
	font-size: 1.375em;
}


@media (max-width: 625px) {
	.logo-block {
		display: block;
		width: 100%;
	}
}

@media (max-width: 795px) {
	.row {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media (max-width: 990px) {
	.search-cart-block {
		width: 100%;
		float: none;
		text-align: right;
	}

	.site-nav__link {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.seo-content {
	font-size: 14px;
	p, ul {
		font-size: 1.1rem;
	}

	ul {
		list-style: disc;
		line-height: 1.8;
	}
}
