/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
   *= require medium-editor/medium-editor
   *= require medium-editor/themes/bootstrap
   *= require medium-editor-insert-plugin.min
   *= require_tree .
   *= require_self
   */

@import "bootstrap"

$brown: darken(#846356, 25%)

input, .editable, textarea, select
  outline: none

input[type = 'password']
  height: 50px
  border: none

.notice
  background: rgba(white, 0.9)
  font-size: 2em
  width: 100%
  padding: 10px 0px 10px 0
  text-align: center

.btn-action
  padding: 15px 45px
  width: 175px
  display: inline-block
  &.right
    text-align: right

.action-buttons
  width: 355px
  margin-top: 60px
  margin-bottom: -10px

.btn-action
  transition: 0.5s
  text-shadow: none
  border: 1px solid darken(#846356, 25%)
  color: darken(#846356, 25%)
  &:hover
    background: darken(#846356, 25%)
    color: white

footer
  height: 50px
  width: 100%
  margin: auto

.instagram
  cursor: pointer
  transition: 0.5s
  opacity: 0.80
  margin-right: 20px
  float: right
  background: image-url('instagram.png') no-repeat center
  background-size: 50px 50px
  width: 50px
  height: 50px
  &:hover
    opacity: 0.95

.link
  a
    color: SteelBlue !important
    text-decoration: underline

.image__logo
  height: 100px

.mail_to
  cursor: pointer
  transition: 0.5s
  opacity: 0.70
  margin-left: 20px
  float: left
  background: image-url('mail.png') no-repeat center
  background-size: 50px 50px
  width: 50px
  height: 50px
  &:hover
    opacity: 0.95
