@import 'helper_classes';

.article-image {
  @extend .background-image;
  height: 320px;
}

.articles {
  h3 {
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
  }
}

.article__single {
    background: rgb(251, 251, 251);
    padding: 20px;
    border: 1px solid rgb(233, 230, 230);
}
