.darken_background
  position: fixed
.with_stroke
  $stroke_color: rgba(black, 0.15)
  text-shadow: -1px -1px 0 $stroke_color, 1px -1px 0 $stroke_color, -1px 1px 0 $stroke_color, 1px 1px 0 $stroke_color
.error
  width: 80%
  max-width: 750px
  margin: auto
  color: black
  h1
    font-family: "Lora", serif
    text-weight: 400
    margin-bottom: 2.5rem
    text-align: center
  p
    font-size: 1rem
