@font-face {
  font-family: 'Mirta';
  src: font-url("Mirta.woff");
  src: font-url("Mirta.svg#mirta") format("svg"), font-url("Mirta.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mirta';
  src: font-url("Mirta-Bold.woff") format("woff");
  src: font-url("Mirta-Bold.svg#mirta-bold") format("svg"), font-url("Mirta-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cyrillic Lato';
  src: font-url("Lato-Regular.woff");
  src: font-url("Lato-Regular.svg#lato") format("svg"), font-url("Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cyrillic Lato';
  src: font-url("Lato-Light.woff") format("woff");
  src: font-url("Lato-Light.svg#lato-light") format("svg"), font-url("Lato-Light.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
