@import 'variables';

footer {
  border-top: 1px solid $border-grey;
  .block {
    margin: auto;
    margin-bottom: 60px;
    max-width: 580px;
    text-align: center;

    p {
      margin-top: 70px;
      text-align: center;
      font-size: 24px;
      margin-bottom: 40px;
    }
    .email-subscribe {
      display: block;

    }

    .submit {
      width: 40px;
      height: 40px;
      border: 2px solid $black;
      display: inline-block;
      vertical-align: top;
      margin-left: -5px;
      padding: 0px;
      font-size: 1.2em;
    }

    .email {
      display: inline-block;
      width: 280px;
      height: 40px;
      margin: auto;
      padding: 10px;
      border: 2px solid $border-grey;
      letter-spacing: 1pt;
    }

    ul.social-networks {
      margin: auto;
      margin-left: -15px;
      margin-right: -15px;
      margin-top: 45px;
      font-size: 10px;
      padding: 0;
      li {
        padding-left: 15px;
        padding-right: 15px;
        display: inline;
        text-transform: uppercase;
      }
      a {
        color: $black !important;
      }
    }
  }
}
