@import 'variables';

.mirta {
  font-family: 'Mirta', serif;
}

.lato {
  font-family: 'Cyrillic Lato', sans-serif;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.light {
  font-weight: lighter;
}

.white {
  color: white;
}

.grey {
  color: darkgrey;
}

.flip {
  -moz-transform: scaleX(-1);    /* Gecko */
  -o-transform: scaleX(-1);      /* Opera */
  -webkit-transform: scaleX(-1); /* Webkit */
  transform: scaleX(-1);         /* Standard */
  filter: FlipH;                 /* IE 6/7/8 */
}

.transparent {
  opacity: 0;
}

.disabled{
  background-color: #f5f5f5;
  color: darkgrey;
  border-color: darkgrey !important;
  cursor: default;
  &.hollow-button {
    cursor: default;
    &:hover {
      color: darkgrey;
      background-color: #f5f5f5;
    }
  }
}

.background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  transition: 0.2s;
  background: rgba(black, 0);
  &:hover {
    background: rgba(black, 0.2);
  }
}

.line-through {
  text-decoration: line-through;
}
