@import 'helper_classes';
@import 'variables';

.menu {
  height: 90px;
  border-bottom: 1px solid $border-grey;
  .container {
    height: 100%;
  }

  ul {
    height: 100%;
    li {
      display: inline-block;
      padding: 0px 15px 0 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      a {
        color: #8a8a8a;
        transition: 0.2s ease;

        &:hover {
          color: $black;
        }

        &.active {
          @extend .bold;
          color: $black;
        }
      }
    }
  }
}

.all-items {
  margin-left: -10px;
  margin-right: -10px;
}

.grid-item {
  margin-bottom: 33px; // +7px from fontsize
  height: 100%;

  .image {
    @extend .background-image;
    width: 100%;
    height: 320px;
    margin-bottom: 15px;
  }

  .product-type-tag {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.product {
  .product-type-tag {
    margin-bottom: 25px;
  }

  .product-title {
    @extend .lato, .bold;
    font-size: 30px;
    margin: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 1pt;
  }

  p {
    margin-top: 2.5rem;
  }

  .request {
    height: 50px;
    border: 2px solid $black;
    border-right: none;
  }

  .request-block {
    max-height: 46px;
    overflow: hidden;
  }

  .size {
    padding: 1rem;
    border: 1px solid rgba($black, 70%);
    border-bottom: 2px solid rgba($black, 70%);
    display: inline-block;
  }

  .sizes {
    margin-bottom: 2.5rem;
  }
}

.you-might-like {
  h1 {
    margin-bottom: 60px;
  }
}
