// Place all the styles related to the Static_Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.map {
  height: 500px;
}
.contacts {
  margin: 35px 0 25px 0;

  p {
    font-size: 1.2em;
  }
}
.slider {
  background-image: image-url('background_darkend.jpg');
  background-position: center;
  background-size: cover;

  width: 100%;
  height: 660px;
  .img-slide {
    height: 100%;
  }

  .with_overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(black, .25);

    &.darker {
    background-color: rgba(black, .5);
    }
  }
  h1, h2 {
    line-height: 140%;
    margin-bottom: 80px;
  }
  h1 {
    max-width: 80%;
    font-size: 40pt;
  }

  h2 {
    max-width: 60%;
  }
}

.home-catalog-wrapper {
  width: 100%;
  background-color: #f2f1f0;
  padding: 60px 0;
}

.article-text {
  max-width: 680px;
  padding: 25px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}


.home-catalog {
  margin: auto;
}

.catalog-type {
  height: 235px;
  background-position: center;
  background-size: cover;

  .with_overlay {
    background-color: rgba(50, 50, 50, .55);
    width: 100%;
    height: 100%;
  }
}

.portyanka {
  padding: 3rem;

  p {
    font-size: 1rem;
  }
}
