.user-registration
  width: 100%
  min-height: 250px
  background: rgba(white, .9)
  padding: 40px
  padding-bottom: 30px
  input
    margin-top: 10px !important
    margin-bottom: 20px
    background: rgba(white, .6)
  input[type="submit"]
    background: none
    margin-bottom: 0px
