%footer
  .block
    %ul.social-networks
      %li= link_to "Facebook", "https://www.facebook.com/13PM-257590778167036/"
      %li ■
      %li= link_to "Instagram", "https://www.instagram.com/13p.m._/"
      %li ■
      %li= link_to "VKontakte", "https://vk.com/13pm.store"
:javascript
  (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter50181952 = new Ya.Metrika2({ id:50181952, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2");
%noscript
  %div
    %img{:alt => "", :src => "https://mc.yandex.ru/watch/50181952", :style => "position:absolute; left:-9999px;"}/
