%body
  - if flash[:notice].present?
    .notice= flash[:notice]
  %header.site__header
    .container
      %ul.row
        .logo.text-center.col-12.d-block.d-sm-none.nav__link-element
          = link_to root_path, class: 'logo mirta text-uppercase' do
            = image_tag asset_path('logo.png'), class: 'image__logo'
        %li.col-12.col-sm-2.nav__link-element= link_to 'Каталог', items_path
        %li.col-12.col-sm-2.nav__link-element= link_to 'Статьи', articles_path
        .logo.text-center.col-sm-4.d-none.d-sm-block.nav__link-element
          = link_to root_path, class: 'logo mirta text-uppercase' do
            = image_tag asset_path('logo.png'), class: 'image__logo'
        %li.col-12.col-sm-2.nav__link-element= link_to 'Контакты', contacts_path
        %li.col-12.col-sm-2.nav__link-element= link_to 'О нас', about_path
  - if full_width
    = yield
  - else
    %main
      = yield
  - if seo_content.present?
    .container
      .row
        .seo-content.col-md-8.col-xs-10
          = seo_content.content.html_safe
