%title= page_title
%meta{ name: 'keywords', content: meta_keywords }
%meta{ name: 'description', content: meta_description }
%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }

= stylesheet_link_tag    'application', media: 'all', async: true, cache: true
= javascript_include_tag 'application'
= csrf_meta_tags
